#page-style {
    overflow: hidden;
    position: relative;
}

#quiz-style {
    z-index: 2;
    margin-top: 2rem; margin-bottom: 2rem;
    position: absolute;
    display: grid;
    top: 10%; right: 25%;
    height: 75%; width: 50%;
    padding-left: 1rem; padding-right: 1rem;
    border: 0.7vh solid #328E6E; border-radius: 3%;
    background-color: white;
}

.title {
    margin-bottom: 2rem;
    position: absolute;
    top: 7.5%; right: 22.5%;
    font-family: Georgia;
    font-weight: bold;
    font-size: 10vh; font-size: 5vw;
    color: #328E6E;
}

.question-text {
    position: relative;
    top: 12.5vh;
    font-size: 2.5vh; font-size: 1.5vw;
    font-family: Georgia;
    text-align: center;
    color: #328E6E;
}

#quiz-buttons {
    position: relative;
    top: 13vh;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap; 
    justify-content: center;
}

#question-buttons {
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-align: center;
    font-size: 2.1vh; font-size: 1.1vw;
    border: 1px solid black;
    border-radius: 0.7vh;
}

#question-buttons:hover {
    border: 2px solid black;
}

#nav-buttons {
    position: relative;
    top: 25%;
}

#submitButton {
    margin: 3%;
    padding: 10px;
    padding-left: 20px; padding-right: 20px; 
    font-family: Georgia;
    font-size: 5vh;
    border: 2px solid #216E53;
    border-radius: 1.25vh;
    color: white;
    background-color: #328E6E;
}

#submitButton:hover {
    background-color: #67AE6E;
}

#submitButton:disabled {
    background-color: #67ae6e9a;
}

#quizBackgroundImage {
    display: block;
    max-width: 100%;
    width: 100%;
    transition: transform 0.3s ease;
}

.progress-wrapper {
    z-index: 3;
    position: sticky;
    bottom: 0vh;
}

.progress-bar {
    width: 100%;
    height: 3.5vh;
    border-top: 0.2vh solid black;
    background-image: url('../assets/sandyPath.jpg');
}

#progress-content {
    position: absolute;
    height: 97%;
    transition: width 0.4s ease;
    background: repeating-linear-gradient(150deg, rgb(0, 115, 0) 0%, rgb(1, 241, 1) 1%);
    background-size: 50vh 50vw;
    animation: stripeForward 1s linear infinite;
}

@keyframes stripeForward {
    0% { background-position: 0% 0% };
    100% { background-position: 10% 0% };
}

.progress-text {
    position: absolute;
    display: flex;
    top: -35%; left: 40%;
    font-size: 3.5vh;
    color: white;
}

#person-walk {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 3.4vh;
    transition: left 0.4s ease;
    border: 0.3vh solid black;
    border-radius: 100%;
    background-color: rgb(241, 241, 241);
}

#finish-flag {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 3.4vh;
}
