.footer{
  /* margin-top: 0.5%; */
  margin-bottom: 0.5%;
  flex-direction: row;
  justify-content: left;
  align-content: left;
  display: flex;
  background-color: #E1EEBC;
}

#footer-button {
  margin: 0.5%;
  color: white;
  background-color: #328E6E;
  font-family: Georgia;
  height: auto;
  width: auto;
}

#footer-button:hover {
  margin: 0.5%;
  color: white;
  background-color: #67AE6E;
  font-family: Georgia;
  height: auto;
  width: auto;
}

.footer-popup{
  background-color: #67AE6E;
  color: white;
  font-family: Georgia;
  backdrop-filter: blur(50%);
  border-radius: 10px;
  padding: 10px;
}