.header{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    flex-direction: row;
    justify-content: left;
    align-content: left;
    display: flex;
    background-color: #E1EEBC;
}

#header-button {
    margin: 0.5%;
    color: white;
    background-color: #328E6E;
    font-family: Georgia;
    height: auto;
    width: auto;
}

#header-button:hover {
    margin: 0.5%;
    color: white;
    background-color: #67AE6E;
    font-family: Georgia;
    height: auto;
    width: auto;
}