/* 
Colors:
    328E6E
    67AE6E
    90C67C
    E1EEBC

Font:
    Georgia
    rem: font-size based off root font-size (can scale with display)
*/

/* import font */
@font-face {
    font-family: SignboardFont;
    src: url('../assets/wooden-log/Wodden\ Log/Wooden\ Log.ttf');
}

#homePageSubhead {
    font-size: 2rem;
    text-align: center;
    color: black;
    font-family: SignboardFont;
    text-decoration: underline;
}

#titleCaption {
    font-size: 1.9rem;
    text-align: center;
    color: #328E6E;
    font-family: Georgia;
}

#homePageTitle {
    padding: 1%;
    text-align: center;
    color: #328E6E;
    font-family: Georgia;
    font-size: 4rem;
}

#homePageWhole {
    background-image: url("../assets/SignpostScene.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 87vh;
    height: 87vh;
    width: 100vw;
    border-top: .5rem solid #90C67C;
    border-bottom: .5rem solid #90C67C;
    margin: 0rem;
}

#questionButton {
    color: black;
    background-color: transparent;
    font-family: SignboardFont;
    font-size: 1.5rem;
    border: none;
    height: auto;
    width: auto;
}

#questionButton:hover {
    color: white;
    background-color: transparent;
    font-family: SignboardFont;
    font-size: 1.5rem;
    border-color: white;
    border: none;
    height: auto;
    width: auto;
}

#quizBlock {
    margin-top: 2.5%;   
}

#quizDescription {
    text-align: center;
    display: block;
    color: black;
    font-family: SignboardFont;
    font-size: 1.5rem;
}