/* 
Colors:
    328E6E
    67AE6E
    90C67C
    E1EEBC

Font:
    Georgia
    rem: font-size based off root font-size (can scale with display)

*/

/* import font */
@font-face {
    font-family: SignboardFont; /* Name given to this font */
    src: url('../assets/wooden-log/Wodden\ Log/Wooden\ Log.ttf');
}

#homePageSubhead {
    font-size: calc(0.5rem + 5vh);
    text-align: center;
    color: black;
    font-family: SignboardFont;
    font-weight: bolder;
    text-decoration: underline;
}

#titleCaption {
    font-size: 2.5rem;
    text-align: center;
    color: #328E6E;
    font-family: Georgia;
    position: absolute;
    width: 100%;
    top: 15%;
}

#homePageTitle {
    padding: 1%;
    text-align: center;
    color: #328E6E;
    font-family: Georgia;
    font-size: 6rem;
    position: absolute;
    width: 100%;
}

#homePageWhole {
    position: relative;
    /* background-size: contain; */
    /* background-image: url("../assets/SignpostScene.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 87vh; vw, vh = screen width, screen height */
    /* min-width: 100%;
    min-height: 100%; */
    /* width: 1440px;
    height: 712.914px; */
    border-top: .5rem solid #90C67C;
    border-bottom: .5rem solid #90C67C;
    /* margin: 0rem; */
}

#homePageBackgroundImage {
    max-width: 100%;
    width: 100%;
    display: block;
}

/* #signPostBlock {
    background-size: cover;
    background-image: url("../assets/Signpost.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 87vh; /* vw, vh = screen width, screen height */
    /* height: 87vh;
    width: 100vw;
    margin: 0rem;
} */

#questionButton {
    color: black;
    background-color: transparent;
    font-family: SignboardFont;
    font-size: calc(0.5rem + 3vh);
    border: none;
    height: auto;
    width: auto;
}

#questionButton:hover {
    color: white;
    background-color: transparent;
    font-family: SignboardFont;
    font-size: calc(0.5rem + 3vh);
    border-color: white;
    border: none;
    height: auto;
    width: auto;
}

#quizBlock1 {
    /* margin-top: 1.5rem;  */
    position: absolute;
    background-image: url('../assets/metalPlate.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60vw 75vh;  
    top: 29.5%;
    padding: 1%;
    width: 100%;
    height: auto; 
}

#quizBlock2 {
    /* margin-top: auto;  */
    position: absolute;
    background-image: url('../assets/metalPlate.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60vw 75vh;
    top: 50.5%;
    padding: 1%;
    width: 100%;
    height: auto; 
}

#quizBlock3 {
    position: absolute;
    background-image: url('../assets/metalPlate.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60vw 50vh;
    top: 72.5%;
    padding: 1%;
    width: 100%;
    height: auto; 
}

#quizDescription {
    text-align: center;
    display: block;
    color: black;
    font-family: SignboardFont;
    font-size: calc(0.5rem + 3vh);
}

#quizDescriptionsi {
    text-align: center;
    display: block;
    color: red;
    font-family: SignboardFont;
    font-size: calc(0.5rem + 3vh);
}