.resultsPage-Style {
    background-color: #E1EEBC;
    border-top: .5rem solid #90C67C;
    border-bottom: .5rem solid #90C67C;
}

.resultsPage-Title {
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 4rem;
    font-family: Georgia;
    color: #328E6E;
}