.resultsPage-Style {
    background-image: url('../assets/12953563_Scene-25.jpg');
    background-size: cover;
    border-top: .5rem solid #90C67C;
    border-bottom: .5rem solid #90C67C;
}

.resultsPage-Title {
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 4rem;
    font-family: Georgia;
    color: whitesmoke;
}

#loadingImage {
    height: 20%;
    width: 20%
}

#ResultsInitialPopup {
    background-color: #E1EEBC;
    height: 100vh;
    width: 100vw;
    border: solid #328E6E 0.2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#ResultsInitialPopupText {
    color: #328E6E;
    font-weight: bold;
    font-family: Georgia;
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

.career-results {
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Georgia;
}

.career_section {
    background-color: white;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    width: 80%;
}

.career_name {
    color: #328E6E;
}

.career_subheading {
    color: #67AE6E;
}

.career_text_list {
    color: black;
    list-style-type: square;
    list-style-position: inside;
}