.resultsPage-Style {
    background-color: #E1EEBC;
    border-top: .5rem solid #90C67C;
    border-bottom: .5rem solid #90C67C;
}

.resultsPage-Title {
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 4rem;
    font-family: Georgia;
    color: #328E6E;
}

#loadingImage {
    height: 20%;
    width: 20%
}

#ResultsInitialPopup {
    background-color: #E1EEBC;
    height: 100vh;
    width: 100vw;
    border: solid #328E6E 0.2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#ResultsInitialPopupText {
    color: #328E6E;
    font-weight: bold;
    font-family: Georgia;
    font-size: 3rem;
    width: 100%;
    text-align: center;
}