.App-footer {
  background-color: #E1EEBC;
  color: black;
  display: flex;
  align-items: left;
  justify-content: left;
}

.api-test {
    background-color: #67AE6E;
    color: white;
    font-family: Georgia;
    backdrop-filter: blur(50%);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    border: 2px solid #216e53;
}

.api-test-button {
  margin: 0.5%;
  color: white;
  background-color: #328E6E;
  font-family: Georgia;
  height: auto;
  width: auto;
}

.api-test-button:focus {
  margin: 0.5%;
  color: white;
  background-color: #67AE6E;
  font-family: Georgia;
  height: auto;
  width: auto;
}

.api-test-button:hover {
  margin: 0.5%;
  color: white;
  background-color: #67AE6E;
  font-family: Georgia;
  height: auto;
  width: auto;
}

.Submit-Button {
  margin: 0.5%;
  color: white;
  background-color: #328E6E;
  font-family: Georgia;
  height: auto;
  width: auto;
}

.Submit-Button:hover {
  margin: 0.5%;
  color: white;
  background-color: #67AE6E;
  font-family: Georgia;
  height: auto;
  width: auto;
}

.Submit-Button:focus {
  margin: 0.5%;
  color: white;
  background-color: #67AE6E;
  font-family: Georgia;
  height: auto;
  width: auto;
}

.Submit-Button:disabled {
  margin: 3%;
  color: white;
  background-color: #67AE6E;
  font-family: Georgia;
  height: auto;
  width: auto;
}

.apiKeyEntry {
  margin-left: auto;
  margin-right: auto;
  width: fit-content; /* or set a specific width if needed */
}